@import "tailwindcss";


@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-Variable.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Variable.woff2") format("woff2");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono.ttf") format("truetype");
  font-display: swap;
  font-weight:100 900;
  font-style: normal;
}


@theme {
  --font-sora: "Sora", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-mono: "Space Mono", monospace;

  --animate-pulseGlow: pulseGlow 6s ease-in-out infinite;

  @keyframes pulseGlow {
    0%, 100% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
